<div class="tablecard mx-auto">
  <table class="table table-bordered" *ngIf="userList">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><button (click)="deleteUser(user.id)" class="btn btn-danger">DELETE {{ user.id }}</button></td>
    </tr>
    </tbody>
  </table>
</div>
